<nav class="navbar navbar-default">
<div class="navbar-header">
  <a class="navbar-brand" href="#">Your assignments</a>
</div>
  <ul class="nav navbar-nav navbar-right">
    <li><a href="/assignments/new">Add assignment</a></li>
  </ul>
</nav>

<% if @assignments.any? %>
  <table class="table table-striped">
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Subject</th>
      <th>Due date</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    <% @assignments.each do |assignment| %>
        <% if assignment.is_due %>
          <tr class="danger">
        <% elsif assignment.is_past %>
          <tr class="success">
        <% else %>
          <tr>
        <% end %>
        <td><%= assignment.title %></td>
        <td><%= assignment.description %></td>
        <td><%= assignment.subject %></td>
        <td><%= assignment.due_date %></td>

        <td><%= link_to "Edit", edit_assignment_path(assignment) %></td>
        <td><%= link_to "Delete", assignment_path(assignment),
          method: :delete %>
      </tr>
    <% end %>
  </table>
  <p>
  Text alerts will be sent out at 6pm daily.
  <div class="form-group">
    <form action="/assignment/<%= @assignment.id.to_s%>/alert" method="post">
      <input type="text" name="phone">
      <input type="submit" value="Send test alert">
    </form>
  </div>
  </p>
<% else %>
  <h2>You have no assignments right now.</h2>
<% end %>

  <p>
  </p>


