<h1> This is the list of assignments </h1>
<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Subject</th>
    <th>Due date</th>
  </tr>

  <% @assignments.each do |assignment| %>
    <tr>
      <td><%= assignment.title %></td>
      <td><%= assignment.description %></td>
      <td><%= assignment.subject %></td>
      <td><%= assignment.due_date %></td>
      <td><%= link_to "Edit", edit_assignment_path(assignment) %></td>
      <td><%= link_to "Delete", assignment_path(assignment),
        method: :delete %>
    </tr>
  <% end %>
</table>

<a href="#">
